html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
  background-color: #113343;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.nav-brand {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 10px;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.btn {
  background-color: #f35a39;
  color: white;
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  width: max-content;
  width: 80px;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  background-color: #cc5237;
}

.btn span {
  margin-left: 5px;
  cursor: pointer;
}

.plus {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 5px;
  cursor: pointer;
}
